
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılacaklar</h4>

<br />
<p>Başlıklarda Arama Kutucuğu</p>
<p>Gelen Kutusunda Arama</p>
<p>Başlıklarda Sayfalama </p>
<p>Hakkımda aktif pasif</p>
<p>Kaç Mesaj geldiği alanı</p>
<p><del>Content Arama Kutucuğu</del> </p>
<p><del>Yazar Görselleri Düzenlenecek </del></p>
<p><del>Vitrin Teması</del></p>
<p><del>Grafikler(google chart)</del></p>
<p><del>Hata Sayfası Layouttan ayrılacak</del></p>
<p><del>Sözlük ve Vitrin Ayrılacak</del></p>
<p><del>IFrame Ekleme</del></p>
<p><del>Yetkilendirmeler</del></p>
<p><del>Herhangi bir tablo raporlanacak(pdf excel e dönüştürme)</del></p>
<p>Proje Dosyaları Sunucuya Taşınacak</p>
<p>Alan Adı Alınacak</p>
<p>Proje Canlıya Taşınacak</p>
<p>Url'de ID yerine isim gelsin</p>
<p><del>SweetAlert</del></p>
<p><del>Admin Çıkış Yap</del></p>
